@model CreateUserViewModel

@{
    ViewData["Title"] = "Create user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>

    <label for="fullname">fullname:</label>
    <input type="text" id="fullname" name="fullname" required>
    <br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>

    <input type="submit" value="Create User">
</form>