@model IEnumerable<Store.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Category</h2>

<a asp-action="Create" class="btn btn-primary btn-sm">Create New</a>

@foreach (var item in Model)
{
    <div class="mb-3">
        <div class="d-flex align-items-center">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-controller="Categories" asp-route-id="@item.Id" class="btn btn-primary btn-sm ml-2">
                    <i class="fas fa-edit"></i>
                </a>
                <a asp-action="Delete" asp-controller="Categories" asp-route-id="@item.Id" class="btn btn-danger btn-sm ml-2">
                    <i class="fas fa-trash-alt"></i>
            </a>
            }
            <a asp-action="Index" asp-controller="Products" asp-route-categoryId="@item.Id" class="btn btn-link text-dark">
                <h6>@item.Name</h6>
            </a>
        </div>
    </div>
}

